* {
  padding: 0;
  margin: 0; }

html {
  -webkit-font-smoothing: antialiased;
  background: #111; }

body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  width: 100%; }

header {
  background: #111;
  height: 10vmin; }
  header .mobile-menu {
    display: none; }
  header .header-area {
    height: 8vmin;
    padding-top: 1vmin;
    display: flex;
    position: relative; }
    header .header-area .logo-line {
      height: 8.5%;
      background: white;
      position: absolute; }
    header .header-area .beforeline {
      left: 100%;
      width: calc(88% - 4vmin);
      transition: transform 1s ease-in-out, background 0.5s ease-in-out; }
    header .header-area .loaded-before {
      left: calc(12% + 4vmin); }
    header .header-area .afterline {
      height: 8.45%;
      bottom: 0px;
      right: 100%;
      width: calc(12% + 4vmin);
      transition: transform 1s ease-in-out, background 0.5s ease-in-out; }
    header .header-area .loaded-after {
      right: calc(88% - 4vmin); }
    header .header-area .menu-line {
      position: absolute;
      background: #777;
      height: 10%;
      opacity: 0;
      transition: opacity 0.3s ease-in-out; }
    header .header-area .logo-area {
      position: relative;
      height: 100%;
      width: 8vmin;
      margin-left: 12%; }
      header .header-area .logo-area img {
        position: absolute;
        height: 100%;
        margin-left: 50%;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
        header .header-area .logo-area img:hover {
          -webkit-filter: brightness(46.7%);
          filter: brightness(46.7%); }
      header .header-area .logo-area svg {
        display: none;
        height: 100%;
        margin-left: 0; }
        header .header-area .logo-area svg path {
          transition: fill 0.5s ease-in-out;
          border-top: 5px solid red; }
          header .header-area .logo-area svg path:last-child:hover {
            fill: #f77b37; }
@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
    header .header-area ul {
      margin-top: 6px;
      margin-right: 4%;
      position: absolute;
      right: 0px;
      height: 8vmin;
      width: 45%;
      display: flex;
      list-style-type: none;
      align-content: space-around; }
      header .header-area ul li {
        display: flex;
        flex-grow: 1;
        height: 100%; }
        header .header-area ul li a {
          display: flex;
          width: 100%;
          height: 100%;
          color: white;
          text-decoration: none;
          transition: 0.3s; }
          header .header-area ul li a:hover {
            color: #777; }
          header .header-area ul li a h4 {
            margin: auto;
            font-weight: 400; }

.clip-down {
  animation: slideDown 3s linear; }

.clip-up {
  animation: slideUp 3s linear; }

@keyframes slideDown {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(0.01px); } }
@keyframes slideUp {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(0.01px); } }
.main {
  height: 82vmin;
  width: 100%;
  background: url("../images/macbook.jpg");
  background-size: cover;
  background-position: center; }

footer {
  display: flex;
  width: 100%;
  height: 8vmin;
  min-height: 60px;
  background: #111; }
  footer ul {
    display: flex;
    height: 1.5vmin;
    margin: auto 2vw; }
    footer ul li {
      display: flex;
      padding: 0 0.8vw;
      color: #eee;
      font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 300; }
      footer ul li a {
        text-decoration: none;
        color: #eee; }

#portfolio {
  height: 82vmin;
  width: 100%;
  background: #ddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap; }
  #portfolio .workframe {
    width: 33.33333%;
    height: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    #portfolio .workframe a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: black; }
      #portfolio .workframe a:hover img {
        transform: scale(1.1); }
      #portfolio .workframe a:hover .demo-image {
        height: 80%; }
      #portfolio .workframe a:hover .description {
        bottom: 0px;
        height: 20%; }
      #portfolio .workframe a .description {
        display: flex;
        position: relative;
        bottom: -20%;
        height: 0px;
        width: 100%;
        background-color: #555555;
        transition: 0.5s; }
        #portfolio .workframe a .description h4 {
          color: #ddd;
          margin: auto; }
      #portfolio .workframe a .demo-image {
        width: 100%;
        height: 100%;
        display: flex;
        transition: 0.5s;
        align-items: center;
        justify-content: center; }
        #portfolio .workframe a .demo-image img {
          height: 60%;
          width: auto;
          max-width: 80%;
          display: block;
          transition: 0.5s; }
  #portfolio .frame-1 {
    background-color: #ffffff; }
  #portfolio .frame-3 {
    background-color: #cbccce; }
    #portfolio .frame-3 a .demo-image img {
      height: 27%; }
  #portfolio .frame-2 {
    background-color: #444; }
    #portfolio .frame-2 a .demo-image img {
      height: 40%; }
  #portfolio .frame-4 {
    background-color: #1493ff; }
    #portfolio .frame-4 a .demo-image img {
      height: 30%; }
  #portfolio .frame-5 {
    background-color: #d76e02; }
    #portfolio .frame-5 a .demo-image img {
      height: 55%; }

@media (max-width: 1120px) {
  #portfolio {
    height: 125vmin; }
    #portfolio .workframe {
      width: 50%;
      height: 31%; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .logo-line {
    display: none; }

  header {
    height: 14vmin;
    min-height: 10vh; }
    header .mobile-menu {
      display: block;
      height: 4vh;
      float: right;
      margin-right: 3vh;
      margin-top: 3vh; }
    header .header-area {
      display: none; }

  #portfolio {
    height: 250vmin; }
    #portfolio .workframe {
      width: 100%;
      height: 16%; }
      #portfolio .workframe a .demo-image {
        display: flex; }
        #portfolio .workframe a .demo-image img {
          margin: auto auto; } }

/*# sourceMappingURL=portfolio.css.map */
