
<header>
  <div class="header-area">
    <div class="logo-area">
      <div class="logo-line beforeline"></div>
      <div class="logo-line afterline"></div>
      <div class="menu-line menu-home-line"></div>
      <div class="menu-line menu-about-line"></div>
      <div class="menu-line menu-portfolio-line"></div>
      <div class="menu-line menu-contact-line"></div>
      <a href="/"><img class="main-logo" src="/images/aw-logo-slanted-short.svg"></a>
    </div>
    <ul>
      <li class="menu-home"><a href="/"><h4>home</h4></a></li>
      <li class="menu-about"><a href="/about/"><h4>about</h4></a></li>
      <li class="menu-portfolio"><a href="/portfolio/"><h4>portfolio</h4></a></li>
      <li class="menu-contact"><a href="/contact/"><h4>contact</h4></a></li>
    </ul>
  </div>
</header>
