<!DOCTYPE html>

<html>

{% include head.html %}

{% include header.html %}

<body>

  <div id="portfolio">

    <div class="workframe frame-1">
      <a href="../hitch">
        <div class="demo-image">
          <img src="../hitch/images/hitch-logo-word.png">
        </div>
        <div class="description">
          <h4>HTML, CSS, jQuery</h4>
        </div>
      </a>
    </div>
    <div class="workframe frame-3">
      <a href="../up-north">
        <div class="demo-image">
          <img src="../up-north/images/up-north-logo.png">
        </div>
        <div class="description">
          <h4>HTML, CSS</h4>
        </div>
      </a>
    </div>
    <div class="workframe frame-2">
      <a href="../ski-canada">
        <div class="demo-image">
          <img src="../ski-canada/images/ski-logo.png">
        </div>
        <div class="description">
          <h4>HTML, CSS, jQuery</h4>
        </div>
      </a>
    </div>
    <div class="workframe frame-5">
      <a href="../murphs-painting">
        <div class="demo-image">
          <img src="../murphs-painting/images/murph-logo.png">
        </div>
        <div class="description">
          <h4>HTML, CSS, jQuery</h4>
        </div>
      </a>
    </div>
    <div class="workframe frame-4">
      <a href="../fantasy-io">
        <div class="demo-image">
          <img src="../fantasy-io/images/fantasy-logo.png">
        </div>
        <div class="description">
          <h4>HTML, CSS, jQuery, PHP, JSON</h4>
        </div>
      </a>
    </div>
    <div class="workframe frame-3">
      <a href="../up-north">
        <div class="demo-image">
          <img src="../up-north/images/up-north-logo.png">
        </div>
        <div class="description">
          <h4>HTML, CSS</h4>
        </div>
      </a>
    </div>

  </div>

</body>

{% include footer.html %}

{% include portfolio-js.html %}

</html>
